name: Build and Push Docker Images

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build backend image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/hospital-backend:latest ./backend

    - name: Build frontend image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/hospital-frontend:latest ./frontend

    - name: Push backend image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/hospital-backend:latest

    - name: Push frontend image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/hospital-frontend:latest
