name: HMS CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  test-build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # -------- TEST STAGE --------
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install backend dependencies
        run: |
          cd backend
          npm install

      - name: Run backend tests
        run: |
          cd backend
          npm test

      # -------- LOGIN TO DOCKER HUB --------
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # -------- BUILD & PUSH BACKEND IMAGE --------
      - name: Build and Push Backend Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/hms-backend:latest ./backend
          docker push ${{ secrets.DOCKER_USERNAME }}/hms-backend:latest

      # -------- BUILD & PUSH FRONTEND IMAGE --------
      - name: Build and Push Frontend Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/hms-frontend:latest ./frontend
          docker push ${{ secrets.DOCKER_USERNAME }}/hms-frontend:latest
